<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link href="/app.css" type="text/css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <meta name="description" content="{{ description }}">
</head>
<body>

  <header class="text-code">
    [ sharpshark28@joewroten.com ] <span class="text-success">(master)</span> ~/portfolio
    <br />
    <span class="text-success">⟩</span> npm start
    <br />
    Starting up server, serving <a href="/">./</a> on port: 8080 ...
    <br />
    Resume accessible @ <a href="/assets/resume.pdf">./resume.pdf</a>
  </header>
