<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link href="/grid.css" type="text/css" rel="stylesheet" />
  <link href="/app.css" type="text/css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Rokkitt|Source+Code+Pro" rel="stylesheet">
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width">
</head>
<body class="intro-undecided">
  <script>
    document.getElementsByTagName('body')[0].className = localStorage.getItem('visited') ? '' : 'intro-play';
    localStorage.setItem('visited', true);
  </script>

  <header class="text-code">
    <div class="container">
      [ <a href="mailto:sharpshark28@joewroten.com">sharpshark28<span class="normal">@</span><span class="secondary">joewroten.com</span></a> ] <span class="text-success">(master)</span> <span class="dim">~/portfolio</span>
      <br />
      <span class="text-success">⟩</span>
      <span id="intro-blink">&block;</span><span id="intro-cmd-1">n</span><span id="intro-cmd-2">p</span><span id="intro-cmd-3">m</span>&nbsp;<span id="intro-cmd-4">r</span><span id="intro-cmd-5">u</span><span id="intro-cmd-6">n</span>&nbsp;<span id="intro-cmd-7">s</span><span id="intro-cmd-8">t</span><span id="intro-cmd-9">a</span><span id="intro-cmd-10">r</span><span id="intro-cmd-11">t</span>
      <br />
      <span id="intro-response-1">Starting up server, serving <a href="/">./</a> on port: 8080 ...</span>
      <br />
      <span id="intro-response-2">Asset served <a href="/assets/resume.pdf">./Resume.pdf</a> | Blog connection established <a href="http://wrotenwrites.com/">wrotenwrites.com</a></span>
    </div>
  </header>

  <main class="container">
