<div class="-container">
  <a href="#" class="about-close" onclick="document.getElementById('about').classList.remove('open')">
    <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="./assets/spritesheet.svg#close" />
    </svg>
  </a>

  <img class="about-image" src="./assets/avatar-large.png" alt="About Jo Wroten" />

  <ul class="about-links">
    <li>
      <a href="mailto:jo@wroten.me">
        <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="./assets/spritesheet.svg#email" />
        </svg>
        <span class="-underline">Jo@Wroten.me</span>
      </a>
    </li>
    <li>
      <a href="./assets/resume.pdf">
        <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="./assets/spritesheet.svg#resume" />
        </svg>
        <span class="-underline">Resume</span>
      </a>
    </li>
    <li>
      <a href="https://gaiety.life/">
        <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="./assets/spritesheet.svg#writing" />
        </svg>
        <span class="-underline">Life (Blog)</span>
      </a>
    </li>
    <li>
      <a href="https://gaiety.gallery/">
        <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="./assets/spritesheet.svg#art" />
        </svg>
        <span class="-underline">Art</span>
      </a>
    </li>
  </ul>
</div>
