<footer class="footer -container -pad-h">
  Portfolio designed and coded by Joe Wroten | 
  <a href="mailto:joe@wroten.me">joe@wroten.me</a> |
  <a href="https://github.com/sharpshark28/portfolio">Project Repo</a>
</footer>
