html, body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15pt;
  color: #6C7A81;
}

svg {
  fill: white;
  max-width: 100%;
  max-height: 100%;
  height: 1em;
}

code {
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Slabo 27px', serif;
}

h1 {
  font-size: 35pt;
}

a {
  color: #15202C;
}

.-pad-h {
  padding-left: 20px;
  padding-right: 20px;
}

.-pad-v {
  padding-top: 20px;
  padding-bottom: 20px;
}

.-mar-no {
  margin: 0;
}

.-left {
  float: left;
}

.-right {
  float: right;
}

.-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.-container {
  max-width: 40rem;
  margin: 0 auto;
}

.tag {
  padding: 0 .3em;
  border-radius: 3px;
  margin-right: .5em;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
  color: #1A323E;
  background: #F3EDFF;
  text-decoration: none;
  display: inline-block;
}

.index .tag {
  margin-bottom: 1rem;
}

.index,
.interior-header {
  background: #15202C;
  color: white;
}

.index-interiorlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.index-interiorlink-wrapper {
  margin: 1rem 0;
}

.index-interiorlink {
  display: block;
  width: 100%;
  padding: .5rem 2rem;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}

.index-interiorlink-description {
  height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.index-interiorlink-icon {
  position: relative;
  top: .2em;
}

.interior-topbar {
  height: 25px;
}

.interior-topbar svg {
  height: 2rem;
  max-height: none;
  position: relative;
  top: -.5rem;
}

.index-interiorlink.-volunteer,
.interior-headline.-volunteer {
  background: linear-gradient(90deg, rgba(235, 181, 242, .3), rgba(128, 95, 132, .3));
}

.index-interiorlink.-git,
.interior-headline.-git {
  background: linear-gradient(90deg, rgba(181, 242, 186, .3), rgba(95, 132, 105, .3));
}

.interior-headline svg {
  vertical-align: bottom;
}

.interior-headline h1 {
  line-height: 1em;
  margin: 0 auto;
}

.interior-content .interior-description {
  margin-top: 0;
  margin-bottom: .25em;
  color: black;
  font-size: 25pt;
}

.interior-content h1:first-of-type {
  display: none;
  speak: none;
}

.interior-content p > img {
  max-height: 300px;
  max-width: calc(100% + 40px);
  position: relative;
  left: -20px;
}

.interior-content pre code {
  font-size: 13pt;
  border-radius: 3px;
  max-width: 100%;
  max-height: 6em;
  display: block;
  overflow: auto;
}

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
}

.index .tags {
  height: 1.6em;
  overflow: hidden;
}

